<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>B E A U T I F U L</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{%  static 'style/style.css' %}""/>
  </head>
  <body>
    <h1>Heres a picturo of the most beautiful creature that will ever exist</h1>
    <img src="{% static "img/BEAUTIFUL.jpg" %}" alt="Uh oh, didn't show"/>

  </body>
</html>
